@import url('https://fonts.googleapis.com/css?family=Caveat');

body{
	padding: 0;
	margin: 0;
	overflow-x: hidden;
	overflow-y: auto;
}

header{
	padding: 0 130px;
}

h1{
	font-family: 'Caveat', cursive;
	font-size: 3rem;
}

main{
	max-width: 1735px;
	padding: 0 130px;
	margin: 0 auto;
	box-sizing: border-box;
	width: auto;
}

section{
	max-width: 1600px;
	min-width: 1105px;
}

input[id="grid"]:checked ~ main section{
	text-align: justify;
}

article{
	width: 365px;
	box-sizing: border-box;
}

main section article:first-child,
main section article:nth-child(2),
main section article:nth-child(3){
	margin-top: 0;
}

.controls{
	display: block;
	text-align: right;
	max-width: 1600px;
	min-width: 1105px;
}

.layout{
	display: inline-block;
}

.layout_grid-icon{
	background: url(grid_grey.png);
	display: inline-block;
	width: 32px;
	height: 32px;
	cursor: pointer;
}

.layout_list-icon{
	background: url(photography_grey.png);
	display: inline-block;
	width: 32px;
	height: 32px;
	cursor: pointer;
}

input[type=radio]{
	display: none;
}

input[id="grid"]:checked ~ main .controls .layout .layout_grid-icon{
	background: url(grid.png);
}

input[id="list"]:checked ~ main .controls .layout .layout_list-icon{
	background: url(photography.png);
}

input[id="grid"]:checked ~ main section article{
	display: inline-block;
	vertical-align: top;
	position: relative;
}

input[id="list"]:checked ~ main section article{
	display: block;
	margin-bottom: 10px;
	width: 100%;
}

input[id="grid"]:checked ~ main section article .info{
	display: block;
}


input[id="grid"]:checked ~ main section article .description{
	display: block;
}

input[id="list"]:checked ~ main section article .info{
	display: inline-block;
	width: 35%;
	vertical-align: top;
	padding-left: 5%;
	box-sizing: border-box;
}

input[id="list"]:checked ~ main section article .description{
	display: inline-block;
	width: 30%;
	vertical-align: top;
}

input[id="grid"]:checked ~ main section article img{
	display: block;
	height: 400px;
}

input[id="list"]:checked ~ main section article img{
	display: inline-block;
	object-fit: cover;
	object-position: top;
}

article img{
	vertical-align: bottom;
	width: 360px;
	margin: 0 auto;
	object-fit: cover;
	display: inline-block;
}

article:hover > img{
	opacity: 0.7;
}

article:hover > .info a{
	color: red;
}


.info a{
	display: block;
	width: 100%;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	font-size: 1.5rem;
}

.category{
	color: #564042;
	font-size: .9rem;
}

.price{
	color: #A52A2A;
	font-weight: bold;
	font-size: 1.2rem;
}

.price_previous{
	text-decoration: line-through;
	color: black;
	font-weight: normal;
	font-size: 1rem;
	padding-left: 5px;
}

.category span{
	text-decoration: underline;
}

.rating input[type="checkbox"]{
	display: none;
}

.rating { 
	display: inline-block;
	margin-left: -5px;
}
  
.rating > input { 
	  display: none; 
}
	
	
.rating > label:before { 
	margin: 5px;
	font-size: 1.25em;
    font-family: 'Font Awesome 5 Free';
	display: inline-block;
	content: "\f005";
	visibility: visible;
	font-weight: 900;
}
  
.rating > .half:before { 
	font-family: 'Font Awesome 5 Free';
	content: "\f089";
	position: absolute;
	visibility: visible;
	font-weight: 900;
}
  
.rating > label { 
   color: #ddd; 
   float: right; 
}

.rating > input:checked ~ label, 
.rating:not(:checked) > label:hover, 
.rating:not(:checked) > label:hover ~ label { 
	color: #FFD700;  
} 

.rating > input:checked + label:hover,
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, 
.rating > input:checked ~ label:hover ~ label { 
	color: #FFED85;  
} 

footer{
	padding: 0 130px;
	height: 100px;
	position: relative;
}

footer div{
	position: absolute;
	bottom: 10px;
}


.description > p:first-child{
    margin: 0;
}